<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div id="fb-root"></div>
	<h1><%= text %></h1>
	<div>
		<form id="sharing-form" name="sharing-form" method="post" action="/share">
			<fieldset>
				<p>
					<label for"sharing-text">Enter the text you wish to share:</label><br>
					<textarea id="sharing-text" rows="10" autofocus cols="50" form="sharing-form" name="sharing-text"></textarea>
				</p>
				<input type="hidden" id="sharing-authtoken" name="sharing-authtoken" />
				<fb:login-button show-faces="true" data-scope="email,publish_actions" width="200" max-rows="1"></fb:login-button>
				<button id="sharing-submit" name="sharing-submit" style="display:none">Post to your Facebook wall</button>
			</fieldset>
		</form>
	</div>
	<div class="fb-feed">
		<ul>
			<% if @fb_feed %>
				<% @fb_feed.each do |item| %>
					<li>
						<ul>
							<li class="fb-message"><%= item["message"] %></li>
							<li class="fb-message-footer">by <%= item["from"]["name"] %> on <em><%= item["created_time"] %></em></li>
						</ul>
					</li>
				<% end %>
			<% end %>
		<ul>
	</div>
</body>
</html>