<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<form id="g-search" name="g-search" method="post" action="/search">
		<input type="input" name="g-search-text" value="spearmint" />
		<button id="g-submit" name="g-submit">Go baby go</button>
	</form>
	<div id="search-results"></div>
</body>
</html>